<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorator="common/layout">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div layout:fragment="content">
    <div>메뉴관리페이지</div>
    <table>
        <thead>
            <tr>
                <th>메뉴번호</th>
                <th>메뉴명</th>
                <th>메뉴상세</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="m : ${manageList}">
                <td th:text="${m.menuNo}"></td>
                <td th:text="${m.menuNm}"></td>
                <td th:text="${m.menuDc}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>