<!DOCTYPE html>
<html lang="ko" xmlns:th="http://wwww.thymeleaf.org">
<div th:fragment="incTopNav">
    <div class="navbar">
        <div class="dropdown" th:each="menuHead : ${mainMenuHead}" th:if="${menuHead.upperMenuId == 0}">
            <button class="dropbtn" th:text="${menuHead.menuNm}"></button>
            <div class="dropdown-content">
                <div th:each="menuSub : ${mainMenuSub}">
                    <a th:href="${menuSub.chkURL}" th:if="${menuHead.menuNo == menuSub.upperMenuId}" th:text="${menuSub.menuNm}"></a>
                    <div class="third-tree" th:unless="${menuHead.menuNo == menuSub.upperMenuId}">
                        <a th:href="${menuSub.chkURL}"
                           th:text="${menuSub.menuNm}"
                           th:if="${menuHead.menuNo < menuSub.upperMenuId && (menuSub.upperMenuId - menuHead.menuNo) < 100000 && (menuSub.menuNo - menuSub.upperMenuId) < 1000}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>