<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div id="login_title_div">
    <img alt="LOGIN" src=""/>
</div>
<div class="user_login">
    <form id="loginForm" name="loginForm" method="post">
        <fieldset>
            <legend>로그인</legend>
            <div class="user_login_ultop">
                <ul>
                    <li>
                        <label for="username">아이디</label>
                        <input type="text" class="input_style" title="아이디를 입력하세요." id="username" name="username"
                               maxlength="10"/>
                    </li>
                    <li>
                        <label for="password">비밀번호</label>
                        <input type="password" class="input_style" title="비밀번호를 입력하세요." id="password" name="password"
                               maxlength="25" />
                    </li>
                    <li>
                        <input type="checkbox" name="walnut-remember-me" title="로그인유지" />로그인유지
                        <input type="checkbox" name="checkId" title="ID저장" onclick="saveId(this.form);" id="checkId"/>ID저장
                    </li>
                </ul>
                <input type="button" alt="로그인" onclick="actionLogin()" value="로그인"/>
                <input type="button" alt="사용자가입" onclick="" value="회원가입"/>
                <!--/*@thymesVar id="loginFailMsg" type="String"*/-->
                <h3 th:if="${loginFailMsg != null}" th:text="${loginFailMsg}"></h3>
            </div>
        </fieldset>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
<script>
    document.loginForm.username.checked = ((document.loginForm.username.value = getCookie("saveId")) !== "");

    function setCookie (name, value, expires) {
        document.cookie = name + "=" + escape (value) + "; path=/; expires=" + expires.toGMTString();
    }

    function getCookie(Name) {
        var search = Name + "=";
        var offset;
        var end;

        if (document.cookie.length > 0) {
            offset = document.cookie.indexOf(search);
            if (offset !== -1) {
                offset += search.length;
                end = document.cookie.indexOf(";", offset);
                if (end === -1) {
                    end = document.cookie.length;
                }
                return unescape(document.cookie.substring(offset, end))
            }
        }
        return "";
    }

    function saveId(form) {
        var expDate = new Date();
        if (form.checkId.checked) {
            expDate.setTime(expDate.getTime() + 1000 * 3600 * 24 * 30); // 30일, 일수를 조절하려면 * 30에서 숫자를 조절하면 됨
        } else {
            expDate.setTime(expDate.getTime() - 1);
        }
        setCookie("saveId", form.username.value, expDate);
    }

    document.getElementById("username").addEventListener("keydown", function (event) {
        if (event.defaultPrevented) {
            return;
        }
        var handled = false;
        if (event.key !== undefined) {
            if (event.key === 'Enter') {
                actionLogin();
            }
        }
        if (handled) {
            event.preventDefault();
        }
    });

    document.getElementById("password").addEventListener("keydown", function (event) {
        if (event.defaultPrevented) {
            return;
        }
        var handled = false;
        if (event.key !== undefined) {
            if (event.key === 'Enter') {
                actionLogin();
            }
        }
        if (handled) {
            event.preventDefault();
        }
    });

    function actionLogin() {
        if (document.loginForm.username.value === "") {
            alert("아이디를 입력하여 주시기 바랍니다.");
            return false;
        } else if (document.loginForm.password.value === "") {
            alert("비밀번호를 입력하여 주시기 바랍니다.");
            return false;
        } else {
            document.loginForm.action = "/login";
            document.loginForm.submit();
        }
    }
</script>
</html>